
.mainAvenger{
    width: 100%;
    height: 0px;
    min-height: 100vh;
    padding: 30px;
    overflow: hidden;
}

.articleAvenger{
    flex-direction: column;
    width: 80%;
    padding: 20px;
    background-color: var(--mediumBlueRGBA);
    min-width: 300px;
}

.articleAvenger>img{
    width: 100%;
    max-width: 700px;
    min-width: 250px;
    height: auto;
}

.avengerH2{
    color: var(--meduimRed);
    text-shadow: 3px 3px 5px var(--black);
    width: 100%;
    font-size: min(2vw + 1.5rem);
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
}


.avengerIcon{
    width: 50px;
}

.web,
.close{
    font-family: 'Rubik 80s Fade', cursive;
    color: var(--white);
    font-size: 30px;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.avengerP,
.avengerName{
    margin: 30px auto;
    font-size: min(.5vw + 1rem) ;
    color: var(--white);
    text-align: center;    
    width: 80%;
    letter-spacing: 2px;
}

.avengerName{
    font-size: min(1vw + 1.5rem);
    font-weight: bolder;
}

.close{
    width: 80%;
    text-align: center;
    margin: 20px auto;
} 


